<div class="selected-form wrapper form-label">
  <div class="text text_middle selected-form__label">Form label</div>
  <div cdkDropList [cdkDropListData]="selectedElements" class="selected-form__list" cdkDropListDisabled
    (cdkDropListDropped)="drop($event)">
    <div class="text selected-form__elems" *ngFor="let item of selectedElements; let i = index" cdkDrag>
      <div *ngIf="item === 'input'" class="selected-form__input">
        <input type="text" value="input">
      </div>
      <div *ngIf="item === 'button'" class="selected-form__button">
        <button [ngStyle]="">button</button>
      </div>
      <div *ngIf="item === 'textarea'" class="selected-form__textarea">
        <textarea name="" id="" cols="30" rows="5">textarea</textarea>
      </div>
      <div *ngIf="item === 'checkbox'" class="selected-form__checkbox">
        <input type="checkbox" id=`check{{i}}` value="option">
        <label for=`check{{i}}`>option</label>
      </div>
      <div *ngIf="item === 'select'" class="selected-form__select">
        <select>Select</select>
      </div>
    </div>
  </div>
</div>
<div class="save-form"><button mat-raised-button class="save-form__button">Save form</button></div>
