<form [formGroup]="elementsForm" (ngSubmit)="applyElementsStyles()">

  <div *ngIf="selectedStyles$ | async as selectedStyles">

    <div *ngFor="let style of selectedStyles; let i = index" class="accordion__styles-container">

      <div *ngIf="style === 'label' || style === 'placeholder'">
        <app-text-input *ngIf="style.split(' ')[1]" [label]="style" [formControlName]="formControls(style)">
        </app-text-input>
        <app-text-input *ngIf="!style.split(' ')[1]" [label]="style" [formControlName]="style">
        </app-text-input>
      </div>

      <div
        *ngIf="style === 'text color' || style === 'border color' || style ===  'color'  || style ===  'background color' || style === 'color input'">
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
            <app-color-input *ngIf="style.split(' ')[1]" [label]="style" [formControlName]="formControls(style)">
            </app-color-input>
            <app-color-input *ngIf="!style.split(' ')[1]" [label]="style" [formControlName]="style">
            </app-color-input>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div *ngIf="style === 'width' || style === 'height' || style === 'font size' || style === 'font weight'">
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
            <app-number-input *ngIf="style.split(' ')[1]" [label]="style" [formControlName]="formControls(style)">
            </app-number-input>
            <app-number-input *ngIf="!style.split(' ')[1]" [label]="style" [formControlName]="style">
            </app-number-input>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div *ngIf="style === 'border type'">
        <mat-grid-tile>
          <div *ngIf="borderTypes$ | async as borderTypes">
            <app-selector [items]="borderTypes" [label]="'Border Type'" [formControlName]="'borderType'">
            </app-selector>
          </div>
        </mat-grid-tile>
      </div>

      <div *ngIf="style === 'required'">
        <app-checkbox [label]="'Required'" [formControlName]="'required'">
        </app-checkbox>
      </div>

    </div>

    <div class="submit-styles">
      <button type="submit" [disabled]="elementsForm.invalid" mat-raised-button>Apply</button>
      <button mat-raised-button>Delete</button>
    </div>
  </div>
</form>
