<form [formGroup]="elementsForm" (ngSubmit)="applyElementsStyles()">

  <div *ngIf="selectedStyles$ | async as selectedStyles">

    <div *ngFor="let style of selectedStyles; let i = index" class="accordion__styles-container">
      <div *ngIf="style === 'label' || style === 'placeholder'">
        <mat-form-field class="accordion__form-label">
          <mat-label>{{style}}</mat-label>
          <input *ngIf="style === 'label'" matInput formControlName="label">
          <input *ngIf="style === 'placeholder'" matInput formControlName="placeholder">
        </mat-form-field>
      </div>

      <div *ngIf="style === 'border type'">
        <mat-form-field appearance="fill">
          <mat-label>Border type</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food" formControlName="borderType">
            <div *ngIf="borderTypes$ | async as borderTypes">
              <mat-option *ngFor="let borderType of borderTypes; let i = index" [value]="borderType">
                {{borderType}}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>

      <div
        *ngIf="style === 'text color' || style === 'border color' || style ===  'color'  || style ===  'background color' || style === 'color input'">
        <mat-form-field class="accordion__field">
          <mat-label>{{style}}</mat-label>
          <input matInput *ngIf="style === 'text color'" type="color" formControlName='textColor'>
          <input matInput *ngIf="style === 'border color'" type="color" formControlName='borderColor'>
          <input matInput *ngIf="style === 'color'" type="color" formControlName='color'>
          <input matInput *ngIf="style === 'background color'" type="color" formControlName='backgroundColor'>
          <input matInput *ngIf="style === 'color input'" type="color" formControlName='colorInput'>
        </mat-form-field>
      </div>

      <div *ngIf="style === 'required'">
        <input type="checkbox" formControlName='required' id="requrid">
        <label>required</label>
      </div>

      <div *ngIf="style === 'width' || style === 'height' || style === 'font size' || style === 'font weight'">
        <mat-form-field class="accordion__field">
          <mat-label>{{style}}</mat-label>
          <input matInput *ngIf="style === 'width'" type="number" formControlName='width'>
          <input matInput *ngIf="style === 'height'" type="number" formControlName='height'>
          <input matInput *ngIf="style === 'font size'" type="number" formControlName='fontSize'>
          <input matInput *ngIf="style === 'font weight'" type="number" formControlName='fontWeight'>
        </mat-form-field>
      </div>

    </div>

    <div class="submit-styles">
      <button type="submit" [disabled]="elementsForm.invalid" mat-raised-button>Apply</button>
      <button mat-raised-button>Delete</button>
    </div>
  </div>
</form>
