.wrapper {
  margin-top: 30px;
  width: 100%;
}

.selected-form{
  box-sizing: border-box;
  border: 1px solid #C2D6E1;
  border-radius: 4px;
  padding: 20px 0px;
  max-height: 600px;
}

.selected-form__label{
  display: flex;
  justify-content: center;
}

.selected-form__input{
  input{
    width: 95%;
    height: 30px;
    max-width: 100%;
  }
}

.selected-form__textarea{
  >textarea{
    width: 95%;
    height: 50px;
    max-width: 100%;
    max-height: 450px;
  }
}

.selected-form__button{
  >button{
    width: 100px;
    height: 20px;
    max-width: 90%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-form__select{
  >select{
    width: 98%;
    height: 30px;
    &+label{
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    &+label::before{
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }
}

.selected-form__checkbox{
  >input{
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
}

.checkbox-label{
  text-align: center;
}

.selected{
  background: rgba(194, 214, 225, 0.5);
  width: 100%;
  height: 100%
}

.border{
  padding: 20px;
  width: 90%;
}
.overflow{
  overflow-y: scroll;
  max-height: 600px;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    width: 10px;
    background-color: #f9f9fd;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #9bdddd;
  }
  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }
}

.button-container{
  margin: 20px 0px;
}
