.wrapper {
  margin-top: 30px;
  width: 100%;
}

.selected-form{
  box-sizing: border-box;
  border: 1px solid #C2D6E1;
  border-radius: 4px;
  padding: 20px 0px;
  max-height: 600px;
}

.selected-form__label{
  display: flex;
  justify-content: center;
}

.selected-form__input{
  input{
    width: 95%;
    height: 30px;
    max-width: 100%;
  }
}

.selected-form__textarea{
  >textarea{
    width: 95%;
    height: 50px;
    max-width: 100%;
  }
}

.selected-form__button{
  >button{
    width: 100px;
    height: 20px;
    max-width: 90%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-form__select{
  >select{
    width: 95%;
    height: 30px;
  }
}

.checkbox-label{
  text-align: center;
}

.selected{
  background: rgba(194, 214, 225, 0.5);
  width: 100%;
  height: 100%
}

.border{
  padding: 20px;
  width: 90%;
}
.overflow{
  overflow-y: scroll;
  overflow-x: hidden;
}

.button-container{
  margin: 20px 0px;
}
