<app-header></app-header>
<mat-grid-list cols="3" rowHeight="1000px">
  <mat-grid-tile class="form-block-container">
    <app-form-styles class="form-block"></app-form-styles>
  </mat-grid-tile>
  <div cdkDropListGroup>
    <mat-grid-tile class="form-block-container">
      <app-form-elements (toDrop)="drop($event)" [selectedElements]="selectedElements" class="form-block">
      </app-form-elements>
    </mat-grid-tile>
    <mat-grid-tile class="form-block-container">
      <app-list-elements (toDrop)="drop($event)" [listElements]="listElements" class="form-block"></app-list-elements>
    </mat-grid-tile>
  </div>
</mat-grid-list>
