

.text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.text_middle{
  font-size: 18px;
  line-height: 22px;
}

.text_large{
  font-size: 36px;
  line-height: 44px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
