<form [formGroup]="generalForm" (ngSubmit)="applyFormStyles()">

  <app-text-input [label]="'Form label'" [formControlName]="'label'"></app-text-input>

  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
      <app-color-input [label]="'Text Color'" [formControlName]="'textColor'"></app-color-input>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-color-input [label]="'Background'" [formControlName]="'backgroundColor'"></app-color-input>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
      <div *ngIf="borderTypes$ | async as borderTypes">
        <app-selector [items]="borderTypes" [label]="'Border Type'" [formControlName]="'borderType'">
        </app-selector>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-color-input [label]="'Border Color'" [formControlName]="'borderColor'"></app-color-input>
    </mat-grid-tile>
  </mat-grid-list>

  <button mat-raised-button type="submit" [disabled]="generalForm.invalid">Apply</button>

</form>
