<app-header></app-header>
<mat-grid-list cols="3" rowHeight="1000px" class="main">

  <mat-grid-tile>
    <app-form-styles class="form-block"></app-form-styles>
  </mat-grid-tile>

  <div cdkDropListGroup>

    <mat-grid-tile>
      <app-form-elements (toDrop)="drop($event)" [styles]="styles" [selectedElements]="selectedElements"
        class="form-block">
      </app-form-elements>
    </mat-grid-tile>

    <mat-grid-tile>
      <div *ngIf="fieldsLoading$ | async">
        <app-loader></app-loader>
      </div>
      <app-list-elements *ngIf="fieldsLoaded$ | async" (toDrop)="drop($event)" [listElements]="listElements"
        class="form-block"></app-list-elements>
    </mat-grid-tile>

  </div>
</mat-grid-list>
